{% extends "base.html.twig" %}
{% block body %}
    <main>
        <div class="row g-5">
            <div class="col-4">
                <h2>Blogs list:</h2>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('blog_new') }}">New</a>
                    </li>
                </ul>
                <ul>
                    {% for blog in blogs %}
                        <li><a href="{{ path('blog_show', {'id': blog.id}) }}">{{ blog.title }}</a> <span
                                    class="text-muted">{{ blog.createdAt | date('d.m.Y H:i') }}</span></li>
                    {% endfor %}
                </ul>
                {% if blogs is empty %}
                    <p><span class="text-muted">No blogs</span></p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}