{% extends "base.html.twig" %}
{% block body %}
    <main>
        <div class="row g-5">
            <div class="col-4">
                <h2>New blog</h2>
                {{ form(form) }}
            </div>
        </div>
    </main>
{% endblock %}